.workspace {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 70px auto;*/
    padding: 0.5rem 0;
    width: 100%;
}

.workspace__header {
    width: 100%;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

.workspace__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: 1rem;
    padding: 1rem;
}

.workspace__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
    gap: 0.5rem 0;
}

.workspace__category-name {
    margin: 0;
    max-width: 60vw;
    overflow: auto;
}

.workspace__item button {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .workspace {
        padding: 0;
    }

    .workspace__header {
        padding: 0;
        justify-content: space-between;
        gap: 0;
    }

    .workspace__main {
        padding-top: 1rem;
    }
    .workspace__list {
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .workspace__header {
        flex-direction: column-reverse;
        gap: 0.5rem;
    }

    .workspace__header input {
        text-align: center;
    }
}
